body {
    margin: 0;
    width: 100%;
    padding: 0;
}
header {
    margin-top: 5px;
}
img {
    width: 50px;
    border-radius: 50%;
}
.navigation {
    display: inline-flex;
    width: 100%;
    box-shadow: 0 2px 7px -7px black;
    justify-content: space-between;
}
.logo-and-search {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.logo-and-search img {
    width: 40px;
    margin: 5px 10px 0 20px;
}
.search-box {
    position: relative;
    margin: 0;
}

.middle-nav i {
    font-size: large;
    color: black;
}
a {
    text-decoration: none;
}
.middle-nav a:focus {
    border-bottom: 3px solid blue;
    border-radius: 0;
    color: blue;
}
.hidden-text {
    color: white;
    position: absolute;
    background-color: black;
    padding: 5px;
    right: 25%;
    display: block;
    margin-top: 30px;
    display: none;
    border-radius: 4px;
}
.middle-nav a:hover {
    background-color: #f8f6f6;
}
.middle-nav a:hover .hidden-text {
    display: block;
}
.top-menu .hidden-text {
    color: white;
    position: absolute;
    background-color: black;
    padding: 5px;
    display: inline-block;
    margin-top: 45px;
    display: none;
    border-radius: 4px;
}
.top-menu {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.top-menu a {
    padding: 10px;
    background-color: #f8f6f6;
    color: black;
    margin: 0 5px;
    border-radius: 25px;
    display: inline-flex;
    position: relative;
}
.top-menu a:hover .hidden-text {
    display: block;
}
.top-menu a i {
    font-size: large;
}
.top-menu .profile-image {
    margin: 0;
    background-color: white;
}
.top-menu a:hover {
    background-color: #dddddd;
}
.top-menu .profile-image:hover {
    background-color: white;
    opacity: 0.9;
}
.top-menu .profile-image:focus {
    background-color: white;
}
.top-menu a:focus {
    background-color: #e4e4f3;
    color: blue;
}

@media only screen and (min-width: 992px) { 
    
    /* DESKTOP */
    .search-box i {
        position: absolute;
        margin: 0 8px;
        bottom: 50%;
        transform: translateY(50%);
    }
    .search-box input[type=search] {
        padding: 15px;
        padding-left: 30px;
        background-color: #f8f6f6;
        border: none;
        border-radius: 25px;
    }
    .middle-nav {
        margin: 20px;
    }
    input:focus {
        border: none;
    }
    .top-menu a:nth-of-type(2) {
        display: none;
    }
    .middle-nav a {
        margin-top: 2px;
        padding: 20px 50px;
        border-radius: 10px;
        position: relative;
    }
    .middle-nav a:last-of-type {
        display: none;
    }
    
}

@media only screen and (min-width:321px) and (max-width:992px) {

    /* TABLET */
    .search-box i {
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
        background-color: #dddddd;
        padding: 10px;
        border-radius: 50%;
    }
    .logo-and-search img {
        width: 40px;
        top: 0;
    }
    .search-box input[type=search] {
        display: none;
    }
    .middle-nav a {
        margin-top: 2px;
        padding: 20px;
        display: inline-block;
        border-radius: 10px;
        position: relative;
    }
    .middle-nav {
        margin-left: 50px;
    }
    .top-menu .profile-image {
        margin-right: 10px;
    }
    .top-menu a:first-of-type {
        display: none;
    }
    .top-menu a:nth-of-type(3) {
        display: none;
    }

}

@media only screen and (max-width:320px) { 
    
    /* MOBILE */


}